<html>
<head><title><%= @message %> </title>
	<%= stylesheet_link_tag 'application' %>
	</head>
<body>
<p align="left">  <font size="7">Andrew Doyle`s Dogs!! </font></p>
<p align="left"> <%= image_tag("twodogs2.jpg") %> </p>

<%= yield %>

<p> <font size="1"> Tom and Tammy the doggies take no responsibility for you falling in love with them. Find yourself your own doggy.  </font> </p>
</body>
</html>
