<html>
<head><title> Andrew`s Doggies </title>
	<%= stylesheet_link_tag 'main' %>
</head>
<body>
 <%= yield %>
<p align="left"> <font size="1"> Andrew Doyle 12252388 Practical 9 Inc. &copy 2013 </font> </p>
</body>
</html>