<h1><p align="left"> Andrew Doyle`s Dogs</h1>

<p>A dog's love
  seems to have no end</p>
<p>
  When humans want to hate</p>
<p> a dog, simply wants to mend </p>

<p align="left"><%= link_to image_tag("tom.jpg"),
				:controller => "other", :action => "name" %> </p>
				
<h5> <p align="left"> [click Tom`s picture to enter] </p></h5>

<p align="left"><%= link_to image_tag("tammy.jpg"),
                            :controller => "other", :action => "tammy" %> </p>

<h5> <p align="left"> [click Tammy`s picture to enter] </p></h5>